 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    color: rgb(247, 235, 235);
    font-weight: 600;
}
body{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}
.regular-txt{
    font-weight: 300;
}
.main-container{
    position: relative;
    z-index: 1;
    width: 350px;
    height: 550px;
    background: linear-gradient(
        to top, rgba(0, 0, 0, 0.415),
        rgba(0, 0, 0, 0.2)
        );
        border-radius: 12px;
        backdrop-filter: blur(100px);
    padding: 20px;

}
.input-container{
    position: relative;
    margin-bottom: 25px;
}
.city-input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border:3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}
.city-input:focus{
    border: 3px solid rgba(21, 20, 20, 0.15);}
.city-input::placeholder{
    color: rgba(19, 17, 17, 0.515);
    font-size: 16px;
}
.search-btn{
    position: absolute;
    right: 16px;
    top:50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}
.weather-info{
 display: flex;   
 flex-direction: column;
 gap: 20px;
}
.location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    display: flex;
    align-items: center;
    gap: 6px;
}
.weather-summary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-summary-img{
    width: 120px;
    height: 120px;
}
.weather-summary-info{
    text-align: end;
}
.weather-conditions-container{
    display: flex;
    justify-content: space-between;
}
.condition-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.condition-item span{
    font-size: 32px;
}
.forecast-items-container{
    display: flex;
    gap: 17px;
    overflow: scroll;
    padding-bottom: 10px;
}
.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 99px;
}
.forecast-item{
  min-height: 70px;
  background: rgb(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s background;
}
.forecast-item:hover{
    background: rgba(255, 255, 255, 0.315);
}
.forecast-item-img{
    width: 35px;
    height: 35px;
}

.section-message{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.section-message img {
    width: fit-content;
    height: 200px;
    margin-bottom: 50px;
}
.section-message .message h1{
    font-size: 28px;
    margin-bottom: 10px;
}
.section-message .message h4{
    font-weight: 300;
}